info:
    description: "Events REST API"
    license:
        name: "Apache 2.0"
        url: "http://www.apache.org/licenses/LICENSE-2.0.html"
    title: "Events"
    version: v1.0
openapi: 3.0.1

paths:
  /events:
    get:
      operationId: "getEvents"
      tags: ["Event"]
      responses:
        200:
          description: "Returns a list of internal and external events"
          content:
            application/json:
              schema:
                  $ref: "#/components/schemas/EventResponse"
            application/xml:
              schema:
                  $ref: "#/components/schemas/EventResponse"
  /events/{id}:
    get:
      operationId: "getEventById"
      tags: ["Event"]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        200:
          description: "Return Event By Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
            application/xml:
              schema:
                $ref: "#/components/schemas/Event"




components:
  schemas:
    Event:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        location:
          type: string
        url:
          type: string
        backgroundColor:
          type: string
        source:
          type: string
          enum: ["internal", "external"]
        image:
          type: string

    EventResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"