
.tabs.button-tabs-wrapper .ng-tab {
  border: none;
  padding: 12px 16px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 500;
  color: #03301E;
  font-weight: 700;
  transition: all 0.2s ease;
  display: flex;
  gap: 0.4rem;
  background: rgba(10, 122, 77, 0.1);
  flex: 100%;
}
.tabs.button-tabs-wrapper .ng-tab .svg-active {
  display: none;
}
.tabs.button-tabs-wrapper .tab .svg-inActive {
  display: block;
}
.tabs.button-tabs-wrapper .ng-tab svg, .tabs.button-tabs-wrapper .tab img {
  width: 24px;
  height: 24px;
}
.tabs.button-tabs-wrapper .ng-tab:hover {
  background: linear-gradient(178deg, rgb(10, 122, 77) 6.16%, #063824 98.44%);
  color: #fff;
}
.tabs.button-tabs-wrapper .ng-tab:hover svg {
  display: none;
}
.tabs.button-tabs-wrapper .ng-tab:hover .svg-active {
  display: block;
}
.tabs.button-tabs-wrapper .ng-tab:hover .svg-inActive {
  display: none;
}
.tabs.button-tabs-wrapper .ng-tab.active {
  background: linear-gradient(178deg, rgb(10, 122, 77) 6.16%, #063824 98.44%);
  color: #fff;
}
.tabs.button-tabs-wrapper .ng-tab.active svg {
  display: none;
}
.tabs.button-tabs-wrapper .ng-tab.active .svg-inActive {
  display: none;
}
.tabs.button-tabs-wrapper .ng-tab.active .svg-active {
  display: block;
}
@media (min-width: 768px) {
  .tabs.button-tabs-wrapper .ng-tab {
    flex: initial;
  }
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px;
  color: #0A7A4D;
}

.page-item {
  border: 1px solid #E2E3E5;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  width: 32px;
  height: 32px;
  color: #0A7A4D;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item:hover {
  background: rgba(10, 122, 77, 0.1019607843);
}

.page-item.active {
  border-color: #0A7A4D;
  background: rgba(10, 122, 77, 0.1019607843);
  font-weight: bold;
}
